<%= semantic_form_for [@project, @ticket], :html => { :multipart => true } do |f| %>
	<%= f.inputs do %>
		<%= f.input :name , :label => "Ticket Name" %>
		<%= f.input :body , :label => "Ticket Description" %>
	<% end %>

	<% number = 0 %>
	<%= f.fields_for :assets do |asset| %>
		<p>
			<%= asset.label :asset, "File ##{number += 1}" %>
			<%= asset.file_field :asset %>
		</p>
	<% end %>

	<%= f.buttons %>
<% end %>