<script type="text/javascript">
	$(function(){
		$(".tickets").css("list-style","none");
		$(".tickets").css("background-color","#ccc");
		$(".tickets").css("margin-bottom","10px");
		$(".tickets").css("padding","10px");
	})
</script>

<h2><%= @project.name %></h2>
<ul class="projects">
	<li>
		<%= @project.name %><br />
		<%= @project.body %><br />
	<%= admins_only do%>	
		<%= link_to 'Edit', edit_project_path(@project) %><br />
		<%= link_to 'Destroy', @project, confirm: 'Are you sure?', method: :delete %><br />
	<% end %>	
		<%= link_to 'Back', projects_url %> <br />
	</li>
	
		
	<h2>Project Tickets</h2>
	
	<% @project.tickets.each do |ticket| %>
	<ul class="tickets">
		<li>
			<b><%= link_to ticket.name, [@project, ticket] %></b><br />
			<%= ticket.body %><br />
		</li>
	</ul>
	<% end%>
	
	<%= link_to 'New Ticket', new_project_ticket_path(@project) %>	
	
</ul>
