<h2><%= @project.name %></h2>
<ul class="projects">
	<li>
		<%= @project.name %><br />
		<%= @project.body %><br />
		
		<%= link_to 'Edit', edit_project_path(@project) %><br />
		<%= link_to 'Back', projects_url %> <br />
		<%= link_to 'New Ticket', new_project_ticket_path(@project) %>
	</li>
</ul>
